.bookmark_list {

  .bookmark_list_area {
    margin: 10px;
    padding: 10px;
    height: 500px;
    background: #C9E7D5;
    border-radius: 10px;
  }
  
  .currenct_directory{
    margin: 10px 20px;
    height: 25px;
    background: #ffff;
  }
}

