.main {
  text-align: center;
  padding-bottom: 20px;
  background: #13AA52;

  .main_page {
    height: 100vh;
  }

  .logo {
    position: relative;
    top: 45vh;
    width: 85px;
    height: 108px;
  }
}

